<% layout('layout/boilerplate') -%>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h1 class="text-center">New Campground</h1>
      <form action="/campgrounds" method="post" novalidate class="validated-form">
        <section class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="campground[title]"
            id="title"
            placeholder=""
            class="form-control"
            required
          />
        </section>
        <section class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="campground[location]"
            placeholder=""
            class="form-control"
            required
          />
        </section>
        <section class="mb-3">          
        <label for="price" class="mb-2">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input 
          type="String" 
          class="form-control" 
          placeholder="0.00"
          aria-describedby="basic-addon1" 
          name="campground[price]" 
          id="price"
          required
          />
        </div>
        
        </section>
        <section class="mb-3">
          <label for="image" class="form-label">Image source</label>
          <input
            type="text"
            name="campground[image]"
            placeholder=""
            class="form-control"
            required
          />
        </section>
        <section class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="campground[description]"
            placeholder=""
            class="form-control"
            rows="3"
            required
          /></textarea>
        </section>
        <button type="submit" class="btn btn-success">Add Campground</button>
      </form>
      <a href="/campgrounds">Back to all campgrounds</a>
    </div>
  </div>
</div>

