<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campgrounds</title>
  </head>
  <body>
    <h1><%=campground.title %></h1>
    <h3><%=campground.location %></h3>
    <br />
    <a href="/campgrounds/<%=campground.id  %>/edit">Edit campground</a>
    <br />
    <form
      action="/campgrounds/<%=campground.id  %>/delete?_method=DELETE"
      method="post"
    >
      <button type="Submit">Delete Campground</button>
    </form>
    <br />
    <a href="/campgrounds">Back to all campgrounds</a>
  </body>
</html>
